<section class="lg:p-6 max-w-[90%] max-[412px]:max-w-full flex flex-col gap-20">
  <app-search [arquivos]="arquivos"></app-search>

  <div
    class="max-[412px]:grid max-[412px]:grid-cols-2 max-[412px]:gap-20 flex flex-wrap items-center gap-20 pl-2"
  >
    <div
      *ngFor="let arquivo of arquivosFiltrados; index as i"
      class="flex group flex-col gap-5 w-32 max-[412px]:w-24 items-center hover:cursor-pointer"
      (mouseenter)="hover = i"
      (mouseleave)="hover = null"
      (click)="i == 0 && !explore ? criarTexto() : null"
    >
      <img
        (click)="i !== 0 || explore ? abrirArquivo(arquivo.id) : null"
        [src]="
          hover === i && (i !== 0 || explore)
            ? 'assets/BIBLIOTECA.svg'
            : arquivo.src
            ? arquivo.src
            : 'assets/ARQUIVO FECHADO.svg'
        "
        alt=""
        class="max-[412px]:h-7 h-16 w-auto transition-transform duration-150 group-hover:scale-[1.03]"
      />

      <span
        class="block w-full text-base max-[412px]:text-xs text-center truncate"
      >
        {{ arquivo.title }}
      </span>
    </div>
  </div>
</section>
