<section class="p-6 max-w-[80%] flex flex-col gap-20">
  <app-search [arquivos]="arquivos"></app-search>
  <div class="flex flex-wrap items-center gap-20 pl-2">
    <div
      *ngFor="let arquivo of arquivosFiltrados; index as i"
      class="flex flex-col gap-5 w-32 items-center hover:cursor-pointer"
      (mouseenter)="hover = i"
      (mouseleave)="hover = null"
      (click)="i == 0 ? criarTexto() : null"
    >
      <img
        (click)="i !== 0 ? abrirArquivo(arquivo.id) : null"
        [src]="
          hover === i && i !== 0
            ? 'assets/BIBLIOTECA.svg'
            : 'assets/ARQUIVO FECHADO.svg'
        "
        alt=""
        class="h-16 w-auto transition-opacity duration-150"
      />
      <span class="text-base">
        {{ arquivo.title }}
      </span>
    </div>
  </div>
</section>
