@tailwind base;
@tailwind components;
@tailwind utilities;
@import "quill/dist/quill.snow.css";
@import "@angular/cdk/overlay-prebuilt.css";

.cdk-global-overlay-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.cw-backdrop {
  background: rgba(0, 0, 0, 0.28);
}
.cw-dialog {
  max-width: 24rem !important;
  width: auto !important;
}
.cw-dialog .cdk-dialog-container {
  padding: 0;
  border: 1px solid #000;
  border-radius: 12px;
  background: #fffaf0;
}

.cw-backdrop {
  background: rgba(0, 0, 0, 0.28);
}

.cw-dialog-panel .cdk-dialog-container {
  padding: 0;
  border: 1.6px solid #000;
  border-radius: 18px;
  background: #fff1d6;
  overflow: hidden;
  box-shadow: 6px 6px 0 #000;
}

.shadowsApp {
  box-shadow: 6px 6px 0 #000; /* sombra “cartoon” */
}

* {
  -ms-overflow-style: none; /* IE/Edge antigo */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  /* Chrome, Safari, Edge Chromium */
  width: 0;
  height: 0;
}
