name: Continuos Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  continuos-integration:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: test_db
        ports:
          - 5432/tcp

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar Ambiente Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      - name: Instalar dependências
        run: npm install

      - name: Rodar Testes Unitários
        run: npm run test -- --watch=false --browsers=ChromeHeadless

      - name: Construir Aplicação Angular
        run: npm run build

      - name: Rodar Testes de Integração
        run: npm run test:integration
