name: Continuos Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  continuos-integration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar Ambiente Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      - name: Instalar dependências
        run: npm install

      - name: Rodar Testes Unitários
        run: npm run test

      - name: Construir Aplicação Angular
        run: npm run build
